language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - jruby-head
  - rbx-2.2.3
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: rbx-2.2.3
script: "bundle exec rake"
